.popup__field {
  width: 358px;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  outline: none;
}

.popup__field:nth-of-type(2)  {
  margin-bottom: 48px;
}

@media screen and (max-width: 600px) {
  .popup__field {
    width: 238px;
  }

  .popup__field:nth-of-type(2)  {
    margin-bottom: 45px;
  }
}
